.jumbotron{
    background-image:url(gambar3.jpg);
    background-size: cover;
    height: 770px;
    text-align: center;
    margin-top: -120px;
}
.jumbotron .display-4{
    color: white;
    margin-top: 250px;
}
.jumbotron p {
    color: white;
    font-size: 25px;
}
.jumbotron hr{
    border-color: #7769f8;
    width: 70px;
    border-width: 3px;
}
.jumbotron .btn{
    border: none;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}