@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #90d3fa;
}
form{
    margin: 8%;
    width: 450px;
    height: 380px;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    position:absolute;
    right: 50px;
    bottom:90px;
    border-radius: 8px;
}
.text{
    position:absolute;
    right:180px;
    bottom:310px;
}
img{
    width:600px;
    position: absolute;
    right:700px;
    bottom:200px;
}